@font-face {
    font-family : myfont;
    src: url(../fonts/Akatab.ttf);
}

body {
    /* background-color: red */
}

.navbar { 
    margin-bottom: 0;
    padding-bottom: 0;
}

.hrundernav{
    margin-top: 3px;
    margin-bottom: 1rem;
}

.headerdiv{
    font-family: myfont;
}


.news{
    font-size:1.3rem;
    font-weight: bold;
}

.texthead{
    font-size:3rem;
    font-weight: bolder;
}


.myfont {
    font-family: myfont;
}

.linktrad{
    text-decoration: none;
    color:black;
}
 
.arrow-top-right{   
    margin-left: 2px;
    object-fit: contain;
}

.link-art{
    text-decoration: none;
    color:black;
    font-family: myfont;
}

.art-title{
    font-family: myfont;
}

.hrarticles{
    margin:0;
}

.title{
    font-family: myfont;
    font-weight: bold;
    font-size: 1.4rem;
}

.atitle{
    text-decoration: none;
    color:black;
    font-family: myfont;
}



.input-group-custom {
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    padding: 5px;
}
.input-group-custom .form-control {
    border: none;
    border-radius: 25px;
    box-shadow: none;
}

.input-bar {
    position: fixed;
    bottom: 30px;
    width: 100%;
}

.question{
    background-color: #e5eefe;
    padding: 5px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom:5px;
    padding-right: 15px;
}

.response{
    background-color: rgb(235, 247, 235);
    padding: 5px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom:5px;
    padding-left: 15px;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.cont-footer{
    background-color: black;
    color:white;
}

.cinput{
    background-color: white;
}