{% load i18n %}
{% include 'blog/header.html' %}
{% load static %}

<div class="container main-div">
    <div>
        <h2 class="text-center">{% translate 'Chat With The Bot' %}</h2>
    </div>
    <div class="chat-wrapper justify-content-center align-item-center">
        <div id="chat-messages">
            <div class="container chat">
            </div>
        </div>
    
        <div class="container cinput">
            <div class="container mt-5 input-bar">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="input-group-custom">
                            <form class="formsd">
                                <input type="text" name="promptvalue" class="form-control" width="100%" placeholder="{% translate 'Ask me anything' %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'blog/footer.html' %}